In [1]:
import pandas as pd
import numpy as np

In [2]:
df_trans = pd.read_csv("T3H_TRANS_MODEL_WW_DATA_TABLE.csv")

In [7]:
df_trans.head()

,TR_TM,TR_NO,CUST_ID,CUST_TYPE,ACCT_ID,TR_CHNL,TR_CD,IS_CASH,DEBIT_CREDIT,CURR_CD,TR_AMT,TR_BAL_AMT,FUND_USE,OPP_ACCT_ID,OPR_ID,RE_OPR_ID,TR_IPV4
0,15-AUG-18,IN00110117000044,5F8BA8E5C8AFB47B800819100978BD01458B5FD90B72CB...,C,F730494CEF116A5BD34874CF25218FAFCEBC190D002DCA...,11,9999,1,D,CNY,6304.40,33.66,汇兑,E04204F18811DB76E6DE76D969D864C569283272519DE6...,IN0011,NaN,60.10.17.15
1,15-AUG-18,IN00290117000025,C46FB439131E7E41909ECC96CB3295D9026418DF0DE899...,C,F93A7770CDE4C39B1167DCB14922B623EC4661BC811A4E...,11,9999,1,D,CNY,10620.26,273563.80,汇兑,45825D51B344EFD43A0DFAC412A9EA19E9991854A7C2AF...,IN0029,NaN,101.30.68.215
2,15-AUG-18,IN00110117000010,BF6609EA78D92B3218A36A3F01E6CFBDA58B7C1278E27A...,C,F93A7770CDE4C39B1167DCB14922B623EC4661BC811A4E...,11,9999,1,D,CNY,100000.00,105426.13,汇兑,CCCC3C9484F024D504DEA87731306516D5D18F9BD9E101...,IN0011,NaN,60.10.17.15
3,15-AUG-18,IN00170117000076,BF6609EA78D92B3218A36A3F01E6CFBDA58B7C1278E27A...,C,F93A7770CDE4C39B1167DCB14922B623EC4661BC811A4E...,11,9999,1,D,CNY,2520.00,102901.13,汇兑,DA84983937436BBAA2D956779C11FA452EBD72005CDBF8...,IN0017,NaN,60.10.17.15
4,15-AUG-18,IN00070117000031,58B4DFF7173B9EFB56EC7C08EA0AC20130E4B095E49B7E...,C,2A1B8FEB49D48D0E6C64FA61CC245D6541BA2222DEB60D...,11,9999,1,D,CNY,20719.00,0.05,行内转账,08CF17AD5B7C327949EDB00482C6A1FFE75C22747841FC...,IN0007,NaN,60.10.17.15

In [24]:
used_index = ["TR_TM","TR_NO","OPR_ID"]
df_trans = df_trans.loc[:,used_index]
df_trans.head(), df_trans.shape

(       TR_TM             TR_NO  OPR_ID
 0  15-AUG-18  IN00110117000044  IN0011
 1  15-AUG-18  IN00290117000025  IN0029
 2  15-AUG-18  IN00110117000010  IN0011
 3  15-AUG-18  IN00170117000076  IN0017
 4  15-AUG-18  IN00070117000031  IN0007, (23115, 3))

In [33]:
import random
from collections import defaultdict

cust_account = defaultdict(set)
custmer_num = 2300

all_cust = [random.randint(10000000,99999999) for i in range(custmer_num)]

for i in range(7500):
    cust = random.choice(all_cust)
    cust_account[cust].add(random.randint(1000000000,9999999999))

In [35]:
all_items = []
for cust,accounts in cust_account.items():
    for account in accounts:
        all_items.append([cust,account])

In [96]:
np.array(all_items).shape

(7500, 2)

In [97]:
cust_account_df = pd.DataFrame(data = np.array(all_items), index = range(len(all_items)), columns=["CUST_ID","ACCT_ID"])

In [100]:
cust_account_df.shape, cust_account_df["ACCT_ID"].unique().shape, cust_account_df["CUST_ID"].unique().shape

((7500, 2), (7500,), (2206,))

In [101]:
cust_account_df.to_csv("cust_acct.csv")

In [38]:
all_data = []
for trans in range(23115):
    all_data.append(random.choice(all_items))

In [90]:
cust_account_df = pd.DataFrame(data = np.array(all_data),index = range(23115), columns = ["CUST_ID","ACCT_ID"])

AttributeError: 'DataFrame' object has no attribute 'uinque'

In [89]:
cust_account_df["ACCT_ID"].unique().shape

(7169,)

In [46]:
df_trans_final = pd.concat([df_trans,cust_account_df], axis = 1)

In [52]:
df_trans_final.shape, df_trans_final["ACCT_ID"].unique().shape,df_trans_final["CUST_ID"].unique().shape

((23115, 5), (7169,), (2188,))

In [53]:
guiyuan_df = pd.read_csv("PT_HCM_STA_EMP_DATA_TABLE.csv")

In [55]:
guiyuan_df.head()

,C_CODE,C_GENDER,C_AGE,C_FIRST_WORK_DATE,C_SFSSZHT,C_FANXIQIAN,C_FXQNX,C_FXDW
0,1006,1,53,01-AUG-86,0.0,NaN,NaN,1.0
1,4014,2,49,01-DEC-90,0.0,NaN,NaN,1.0
2,21012,2,25,23-FEB-16,0.0,NaN,NaN,1.0
3,2003,2,53,01-DEC-81,0.0,NaN,NaN,1.0
4,1333,2,38,01-AUG-03,0.0,NaN,NaN,NaN

In [73]:
guiyuan_index = ["C_GENDER","C_AGE","C_FIRST_WORK_DATE"]
guiyuan_df = guiyuan_df[guiyuan_index]
guiyuan_df.shape

(2188, 3)

In [82]:
cust_account_df["CUST_ID"].unique().shape

(2188,)

In [83]:
guiyuan_df["CUST_CODE"] = cust_account_df["CUST_ID"].unique()

In [85]:
guiyuan_df.to_csv("customer_tb.csv")
cust_account_df.to_csv("cust_acct.csv")
df_trans_final.to_csv("transaction.csv")

In [106]:
guiyuan_test = pd.read_csv("F_CM_KTLP_GYCSHU_DATA_TABLE.csv")

In [107]:
needed_index = ["GUIYDAIH","YNGYJIGO","GUIYSHUX"]

In [108]:
guiyuan_test = guiyuan_test[needed_index]

In [116]:
index = guiyuan_test["YNGYJIGO"].unique().tolist()

In [135]:
guiyuan_test["level"] = 0

In [166]:
all_pos = []
for jigou in index:
    if jigou > 0:
        all_pos.append(guiyuan_test[guiyuan_test["YNGYJIGO"] == jigou].index[0])

In [167]:
guiyuan_test.loc[all_pos,"level"] = 1

In [169]:
guiyuan_test["level"].sum()

121

In [172]:
guiyuan_test.drop("GUIYSHUX", axis = 1, inplace = True)

In [174]:
guiyuan_test.to_csv("teller.csv")

In [177]:
guiyuan_test["GUIYDAIH"].unique().to_list()

(4722,)

In [181]:
login = guiyuan_df["CUST_CODE"].to_list() + guiyuan_test["GUIYDAIH"].to_list()

In [189]:
def get_pass():

    return "".join([random.choice("zbcdefghijklmnopqrstuvwxyz") for i in range(3)] + [str(random.randint(0,9)) for i in range(6)])

In [190]:
import random

login_array = []

for account in login:
    login_array.append([account,get_pass()])

In [192]:
cheif = ["100000","cheif"]
admin = ["100001","admin"]

In [193]:
login_array.append(cheif)
login_array.append(admin)

In [197]:
pass_word_df = pd.DataFrame(data = np.array(login_array), index = range(len(login_array)),columns = ["ID","passwd"])
pass_word_df.head()

         ID     passwd
0  49744050  fnp569891
1  88528785  loj600073
2  63334672  sbg923291
3  19815276  kvf799106
4  44407636  nlb734642

In [198]:
pass_word_df.to_csv("confidentical_info.csv")

In [283]:
df_trans_final = pd.read_csv("transaction.csv",index_col = 0)

In [284]:
df_trans_final["TR_AM"] = 0

In [285]:
amount = [random.randint(1,1000000) for i in range(df_trans_final.shape[0])]

In [286]:
df_trans_final["TR_AM"] = amount

In [287]:
all_account = set(df_trans_final["ACCT_ID"].to_list())

In [288]:
OPP_ACCT_ID = [random.choice(list(all_account)) for i in range(df_trans_final.shape[0])]

In [289]:
df_trans_final["OPP_ACCT_ID"] = OPP_ACCT_ID

In [291]:
df_trans_final.to_csv("transaction.csv")